@import "tailwindcss";

html, body {
    height: 100%;
    margin: 0;
}

<<<<<<< HEAD
.min-h-screen {
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
    overflow-y: auto;
}


=======
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
>>>>>>> 9b0d85d46c950a4c8ad21af3b600ca06fa755550
