@import "tailwindcss";

html, body {
    height: 100%;
    margin: 0;
}

<<<<<<< HEAD
.min-h-screen {
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
    overflow-y: auto;
}

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";


/* Custom modal transitions */
.modal-enter {
    opacity: 0;
}
.modal-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.modal-exit {
    opacity: 1;
}
.modal-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}